/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
:root {
	--main-bg-color: #ffffff;
	--modal-bg-color: #fcfcfc;
	--hero-bg-color: rgba(46, 47, 66, 0.7);
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
	--light-color: #f4f4fd;
	--accent-color: #e7e9fc;
	--subtle-text-color: #8e8f99;
	--text-color: #434455;
	--success-color: #31d0aa;
	--dark-color: #2e2f42;
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background-color: var(--main-bg-color);
}

ul,
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-brand-color);
}

.logo-part {
	color: var(--dark-color);
}
.nav-link {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-href:hover,
.contacts-href:focus {
	color: var(--pressed-state-color);
}

.contacts {
	font-style: normal;
}
.contacts-href {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.hero-section {
	background-color: var(--dark-color);
	height: 600px;
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--main-bg-color);
}
.hero-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--main-bg-color);

	background: #4d5ae5;
	border: none;

	cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
	background-color: var(--pressed-state-color);
}
/* .qualities {
} */
/* .qualities-title {
	
}
.qualities-list {
	
} */
/* .qualities-items {
} */
.qualities-items-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}
.qualities-items-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
}

.our-team {
	background-color: var(--light-color);
}
.our-team-title {
	font-weight: 700;
	font-size: 36px;
	text-transform: capitalize;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--dark-color);
}
/* .our-team-list {
	
} */
.our-team-items {
	background-color: var(--main-bg-color);
}
/* .our-team-fotos {
} */
.our-team-items-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--dark-color);
}
.our-team-items-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--text-color);
}
/* .our-portfolio {
} */

.our-portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--dark-color);
}
/* .our-portfolio-list {
}
.our-portfolio-items {
} */
.our-portfolio-items-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}
.our-portfolio-items-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
}
.footer {
	background-color: var(--dark-color);
}
.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-brand-color);
}
.footer-logo-part {
	color: var(--light-color);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light-color);
}
