/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
:root {
  --main-bg-color: #ffffff;
  --modal-bg-color: #fcfcfc;
  --hero-bg-color: rgba(46, 47, 66, 0.7);
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --subtle-text-color: #8e8f99;
  --text-color: #434455;
  --success-color: #31d0aa;
  --dark-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
button {
  font: inherit;
  appearance: none;
  border: 0;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.page-header {
  border-bottom: 1px solid var(--accent-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  text-align: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  text-align: center;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
  padding: 24px 0;
}

.logo-part {
  color: var(--dark-color);
}
.nav-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contacts-href:hover,
.contacts-href:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-href {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-section {
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-bg-color);

  display: block;
  max-width: 496px;
  margin: 0 auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
/* .qualities {
} */
.qualities-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.qualities-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.qualities-items {
  width: calc((100% - 3 * 24px) / 4);
}
.qualities-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: left;
  margin-bottom: 8px;
}
.qualities-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.our-team {
  background-color: var(--light-color);
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 72px;
}
.our-team-items-content {
  padding: 32px 0;
  display: block;
  text-align: center;
}
.our-team-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.our-team-items {
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 4px 4px;
}
.our-team-items-content {
}
/* .our-team-fotos {
} */
.our-team-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.our-team-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* .our-portfolio {
} */
/* OUR PORTFOLIO--------------------- */
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
  text-align: center;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.our-portfolio-items-content-container {
  padding: 32px 16px;
  text-align: left;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.our-portfolio-items {
}
*/ .our-portfolio-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  width: calc((100% - 48px) / 3);
  margin-bottom: 8px;
}
.our-portfolio-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* FOOTER----------------------------- */
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: var(--light-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  max-width: 264px;
}
